<!-- Django and any web server needs to know 2 things to deal with static files:
1) How to tell when a URL request is for a static file, as opposed to for some HTML that’s going to be served via a view function
2) Where to find the static file the user wants

For 1), Django let's us define a URL "prefix" to say that any URLs which start with that prefix (i.e /static/) should be treated as a static file

For 2), we can rely on Django to find the actual static files on disk. It looks in any subfolder of one of our apps called 'static'

iferror block of code enforces our model validation and brings it up
so the user can see them. It checks whether a template is passed with an error
variable, and if so we display it next to the form.

form.errors contains a list of all the errors for the form.
form.text.errors is a list of just the errors for the text field.



Can look through Bootstrap's documentation here: http://getbootstrap.com/docs/4.1/getting-started/introduction/

It's good practice to put script loads at the end of your body HTML, as it
means that the user doesn't have to wait for all your JS to load before they
can see something on the page.-->


<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>To-Do lists</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<link href="/static/base.css" rel="stylesheet">
	</head>

	<body>
		<script>
			// the .ready allows us to specify a function to execute when the
			// DOM is fully loaded.
			$(document).ready(function () {
				window.Superlists.initialize();
			})
		</script>
		<div class="container">

			<div class="row justify-content-md-center">
				<div class = "col-md-8 jumbotron">
					<div class="text-center">


						<h1 class="display-3">{% block header_text %}{% endblock %}</h1>
						<form method="POST" action="{% block form_action %}{% endblock %}"> 
							{{ form.text }}
							{% csrf_token %} 
							{% if form.errors %}
								<div class="form-group has-error">
									<span class = "help-block">{{ form.text.errors }}</span>
								</div>
							{% endif %}
						</form>	
					</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-8">
					{% block table %}
					{% endblock %}
				</div>
			</div>

		</div>
		<script src="/static/jquery-3.3.1.js"></script>
		<script src="/static/list.js"></script>
		<script> initialize() </script>
	</body>
</html>